@font-face {
	font-family: "Work Sans";
	src: url("https://vale.rocks/assets/typefaces/WorkSans.woff2");
	font-weight: 100 900;
	font-display: fallback;
}

@font-face {
	font-family: "Fira Code";
	src: url("https://vale.rocks/assets/typefaces/FiraCode.woff2");
	font-weight: 300 700;
	font-display: fallback;
	size-adjust: 90%;
}

:root {
	color-scheme: light dark;

	--black: oklch(18% 0.003 17.5);
	--white: oklch(76% 0.03 55);
	--grey: oklch(36% 0.003 17.3);
	--bright_white: oklch(94.75% 0.04 73);
	--blue: oklch(56.5% 0.13 253);
	--cyan: oklch(71.2% 0.112 198.7);
	--yellow: oklch(80.8% 0.165 73.5);
	--green: oklch(65.2% 0.141 142.1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	block-size: 100%;
}

html {
	overscroll-behavior-y: none;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	color: light-dark(var(--black), var(--bright_white));
	background: light-dark(var(--bright_white), var(--black));
	font:
		430 1rem/1.5 "Work Sans",
		sans-serif;
	padding: 1rem;
}

main {
	margin-block: auto;
}

h1,
h2 {
	text-transform: uppercase;
	font-weight: 700;
	margin-block-end: 1rem;
}

h1 {
	font-size: 2.8rem;
	line-height: 3rem;
}

h2 {
	font-size: 1.8rem;
	line-height: 2rem;
}

a {
	color: inherit;
	text-decoration: underline 0.08rem light-dark(var(--cyan), var(--blue));
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-color: light-dark(var(--cyan), var(--blue));
	text-decoration-skip-ink: none;
	text-underline-offset: 0.25rem;

	&:hover,
	&:active {
		text-decoration-thickness: 0.6rem;
		text-underline-offset: -0.29rem;
	}
}

#script-enabled {
	display: none; /*Set to flex in JS*/
	flex-direction: column;
	gap: 2rem;
	max-inline-size: 40rem;
	margin-inline: auto;
}

#search-form {
	display: flex;

	input {
		inline-size: 100%;
	}

	svg {
		block-size: 1.3rem;
		margin-block: auto;
	}

	&:focus-within {
		outline: var(--blue) solid 2px;
	}
}

.default-engine {
	margin-inline: auto;
}

#engine-select {
	display: block;
}

.shortcode-open {
	block-size: fit-content;
	margin-inline: auto;
}

#shortcode-popover {
	background: light-dark(var(--white), var(--grey));
	text-align: left;
	block-size: 100%;
	padding-block: 3rem;
	padding-inline: 1rem;
	max-inline-size: 40rem;
	margin: 0 auto;
	border: none;
	color: inherit;

	.shortcode-close {
		position: fixed;
		inset-block-start: 2.6rem;
		inset-inline-end: 0.5rem;
		padding: 0.5rem;
	}

	svg {
		block-size: 1.5rem;
	}

	@media (min-width: 45rem) {
		margin-block: 3rem;

		.shortcode-close {
			inset-block-start: 3rem;
			inset-inline-end: 3rem;
		}
	}
}

ul {
	list-style-type: "✦ ";
	padding-inline-start: 2rem;
}

button,
select,
input {
	color: light-dark(var(--black), var(--bright_white));
	padding-block: 0.3rem;
	padding-inline: 0.5rem;
	background: light-dark(var(--white), var(--grey));
	border: transparent;
	border-radius: 0;
	font-family: inherit;
	font-weight: initial;
	font-size: 1rem;
}

input {
	padding-block: 0.5rem;
}

label {
	font-size: small;
}

button {
	display: grid;
}

svg {
	fill: light-dark(var(--black), var(--bright_white));
}

footer {
	font:
		0.75rem "Fira Code",
		monospace;
}

.donate {
	color: light-dark(var(--black), var(--yellow));
	text-decoration-color: light-dark(var(--green), var(--yellow));
}

::placeholder {
	opacity: 1;
}

:focus {
	outline: var(--blue) solid 2px;
}
