@font-face {
	font-family: "Work Sans";
	src: url("https://vale.rocks/assets/typefaces/WorkSans.woff2");
	font-weight: 100 900;
	font-display: fallback;
}

@font-face {
	font-family: "Fira Code";
	src: url("https://vale.rocks/assets/typefaces/FiraCode.woff2");
	font-weight: 300 700;
	font-display: fallback;
	size-adjust: 90%;
}

:root {
	color-scheme: light dark;

	--black: oklch(18% 0.003 17.5);
	--white: oklch(76% 0.03 55);
	--grey: oklch(36% 0.003 17.3);
	--bright_white: oklch(94.75% 0.04 73);
	--blue: oklch(56.5% 0.13 253);
	--cyan: oklch(71.2% 0.112 198.7);
	--yellow: oklch(80.8% 0.165 73.5);
	--green: oklch(65.2% 0.141 142.1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

html {
	overscroll-behavior-y: none;
	text-size-adjust: none;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	color: light-dark(var(--black), var(--bright_white));
	background: light-dark(var(--bright_white), var(--black));
	line-height: calc(1rem + 0.5rem);
	font-family: "Work Sans", sans-serif;
	font-weight: 430;
	padding: 1rem;
}

main {
	margin: auto 0;
}

h1,
h2 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 2.8rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.8rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

a {
	color: inherit;
	text-decoration: underline 0.08rem light-dark(var(--cyan), var(--blue));
	-webkit-text-decoration-line: underline;
	-webkit-text-decoration-color: light-dark(var(--cyan), var(--blue));
	text-decoration-skip-ink: none;
	text-underline-offset: 0.25rem;

	&:hover,
	&:active {
		text-decoration-thickness: 0.6rem;
		text-underline-offset: -0.29rem;
	}
}

#script-enabled {
	display: none; /*Set to flex in JS*/
	flex-direction: column;
	gap: 1rem;
	max-width: 30rem;
	margin: 0 auto;
}

#search-form {
	display: flex;

	input {
		width: 100%;
	}

	svg {
		height: 1rem;
	}

	&:focus-within {
		outline: var(--blue) solid 2px;
	}
}

.shortcode-open {
	width: fit-content;
	margin: 0 auto;
}

#shortcode-popover {
	background: light-dark(var(--white), var(--grey));
	text-align: left;
	padding: 3rem 1rem;
	width: auto;
	max-width: 40rem;
	margin: 0 auto;
	height: auto;
	border: none;
	color: inherit;

	.shortcode-close {
		position: fixed;
		top: 2.6rem;
		right: 0.5rem;
		padding: 0.5rem;
	}

	svg {
		height: 1.5rem;
	}

	@media (min-width: 45rem) {
		margin: 3rem auto;

		.shortcode-close {
			top: 3rem;
			right: 3rem;
		}
	}
}

ul {
	list-style-type: "✦ ";
	padding-left: 2rem;
}

button,
select,
input {
	color: light-dark(var(--black), var(--bright_white));
	padding: 0.3rem 0.5rem;
	background: light-dark(var(--white), var(--grey));
	border: transparent;
	border-radius: 0;
	text-overflow: ellipsis;
	font-family: inherit;
}

button {
	display: grid;
}

svg {
	fill: light-dark(var(--black), var(--bright_white));
}

footer {
	font-family: "Fira Code", monospace;
	font-size: 0.75rem;
}

.donate {
	color: light-dark(var(--black), var(--yellow));
	text-decoration-color: light-dark(var(--green), var(--yellow));
}

::placeholder {
	opacity: 1;
}

:focus {
	outline: var(--blue) solid 2px;
}
